.myArticles {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 80px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 366px;
    padding: 68px;
}



.profile img {
    border-radius: 50%;
    width: 126px;
    height: 126px;

}
.profile .profileDescription {
    text-align: center;
    color: #8C8C8C;
    font-size: 14px;
}
.profile .profileName {
    margin-top: 20px;
}
.profile .profileName span {
    font-weight: 700;
    font-size: 24px;
    color: #242424;
}

.posts .post .postPhoto img{
    width: 664px;
    height: 395px;
}
.posts .post {
    margin-bottom: 80px;
}
.footer {
    padding-bottom: 38px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    color:#8C8C8C;
}

.footer .photoSmall {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer .eye {
    width: 20px;
    height: 14px;
    vertical-align: middle;
}
.footer .views {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.footer .eyeCenter {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 40%;
    right: 11px;
}

.footer .eyeContainer {
    width: 24px;
    position: relative;
}
.post .text {
    font-size: 16px;
    color: #8C8C8C;
    line-height: 24px;
    margin-bottom: 20px;
}

.post .tag {
    font-size: 12px;
    line-height: 12px;
    color: #8C8C8C;
    margin-top: 32px;
    padding-left: 12px;
}
.post h2 {
    font-size: 32px;
    line-height: 32px;
    color: #242424;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination .buttons {
    cursor: pointer;
    color:black;
    width: 98px;
    vertical-align: middle;
    text-align: center;
    height: 47px;
    border: 1px solid black;
}

.emptyArticles {
    text-align: center;
    padding-top: 30px;
}